.dashed-border {
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='%23DEDFE1FF' stroke-width='2' stroke-dasharray='8%2c 12' stroke-dashoffset='40' stroke-linecap='square'/%3e%3c/svg%3e");
}

.dashed-border-light {
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='%23F1F2F2FF' stroke-width='2' stroke-dasharray='8%2c 12' stroke-dashoffset='40' stroke-linecap='square'/%3e%3c/svg%3e");
}

.loading-bar {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 4px;
  width: 100%;
  background-color: transparent;
  overflow: hidden;
  z-index: 9999;
}

.loading-bar::before {
  content: "";
  display: block;
  height: 100%;
  width: 50%;
  background: linear-gradient(90deg, rgba(58, 104, 137, 0.5) 0%, #3A6889 45.63%, rgba(58, 104, 137, 0.5) 100%);
  animation: loading 1.5s ease-in-out;
  animation-iteration-count: 4;
}

@keyframes loading {
  0% {
    transform: translateX(-100%);
  }
  80% {
    transform: translateX(200%);
  }
  100% {
    transform: translateX(200%);
  }
}
